<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% if posts %}
           {% for post in posts %}
            <div>
                <p>{{ post.published_date }}</p>
                <h3>{{ post.title }}</h3>
                <p>{{ post.text|linebreaksbr }}</p>
                <hr>
            </div>
                {{ post }}
           {% endfor%}
        {% else }
            <div>No data found.</div>
        {% endif %}
    </body>
</html>